<section class="my-12">
  <h1 class="text-3xl font-bold text-center text-gray-800">
    Admin Panel - Order Management
  </h1>
  <p class="text-center text-gray-600 mt-3 mb-6">
    There are currently {{ carts.length }} orders in the system.
  </p>

  <form action="" [formGroup]="form">
    <p class="mt-12 mb-4 w-full text-gray-700 text-center text-xl">
      Filter by Date Range
    </p>
    <div class="mb-12 flex justify-center items-center gap-6">
      <div class="start">
        <label for="" class="bg-slate-600 text-white px-2 py-1 rounded-md mr-1"
          >Start Date</label
        >
        <input
          formControlName="start"
          type="date"
          title="Start Date Of Filtration"
          class="rounded-md px-1"
        />
      </div>
      <div class="end">
        <label for="" class="bg-slate-600 text-white px-2 py-1 rounded-md mr-1"
          >End Date</label
        >
        <input
          formControlName="end"
          type="date"
          title="End Date Of Filtration"
          class="rounded-md px-1"
        />
      </div>
      <button
        type="button"
        (click)="applyFilter()"
        class="px-5 py-[2px] rounded-md bg-red-600 text-white"
      >
        Apply
      </button>
    </div>
  </form>

  <table class="min-w-full bg-white border border-grey-200 rounded-lg">
    <thead class="bg-slate-200">
      <tr>
        <th class="py-5 px-1 text-center"></th>
        <th class="py-5 px-3 text-center">Date</th>
        <th class="py-5 px-3 text-center">Quantity</th>
        <th class="py-5 px-3 text-center"></th>
      </tr>
    </thead>

    <tbody>
      @for (cart of carts; track cart.userId) {
      <tr class="border-b-2 border-slate-100">
        <td class="py-4 text-center">
          <span
            class="ml-2 w-4 h-4 bg-red-700 text-white rounded-md py-1 px-2"
            >{{ $index + 1 }}</span
          >
        </td>
        <td class="py-4 px-3 text-center">
          {{ cart.date | date : "medium" }}
        </td>
        <td class="py-4 px-3 text-center">
          {{ cart.products.length }}
        </td>

        <td
          class="py-4 px-3 text-center flex justify-center items-center gap-3"
        >
          <button
            class="px-2 py-1 bg-red-600 rounded-md text-white"
            (click)="deleteSomeCart($index)"
          >
            Delete
          </button>
          <button
            class="px-2 py-1 bg-slate-600 rounded-md text-white"
            (click)="viewDetails($index)"
          >
            View Details
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</section>

@if(showingDetails){
<section
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-20"
>
  <div class="details w-3/4 max-w-4xl h-auto bg-white p-6 rounded-lg shadow-lg">
    <h2 class="text-2xl font-bold mb-4 text-center">Cart Details</h2>
    <table class="min-w-full bg-white border border-grey-200 rounded-lg">
      <thead class="bg-slate-50">
        <tr>
          <th class="py-5 px-3 text-center">Image</th>
          <th class="py-5 px-3 text-center">Name</th>
          <th class="py-5 px-3 text-center">Price</th>
          <th class="py-5 px-3 text-center">Total</th>
        </tr>
      </thead>
      <tbody>
        @for (cartProduct of productsInCart; track cartProduct.id) {
        <tr class="border-b-2 border-slate-300">
          <td class="py-2 px-4 text-center">
            <img
              [src]="cartProduct.image"
              alt="Product Image"
              class="w-20 h-20 object-cover"
            />
          </td>
          <td class="py-2 px-4 text-center text-sm">
            {{ cartProduct.title }}
          </td>
          <td class="py-2 px-4 text-center">{{ cartProduct.price }} L.E</td>
          <td class="py-2 px-4 text-center">
            {{
              +cartProduct.price.toFixed(2) *
                cartDetails.products[$index].quantity
            }}
            L.E
          </td>
        </tr>
        }
      </tbody>
    </table>
    <button
      (click)="closeDetails()"
      class="mt-4 px-4 py-2 bg-red-600 text-white rounded-md relative left-1/2 -translate-x-1/2"
    >
      Close
    </button>
  </div>
</section>
}
